.highlights-second {
  background: #f8f9fa;
  padding: 10% 0;
  .main-container {
    .card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      text-align: center;
      -webkit-box-shadow: 0 12px 6px -6px #EAEBED;
              box-shadow: 0 12px 6px -6px #EAEBED;
      .feature {
        -webkit-box-flex: 1;
            -ms-flex: 1 100%;
                flex: 1 100%;
        background: white;
        padding: 10%;
        h2 {}
        p {}
      }
      .image {
        -webkit-box-flex: 1;
            -ms-flex: 1 100%;
                flex: 1 100%;
        overflow: hidden;
        height: 30em;
        background-image: url("img/Background1.png");
        background-position: 50% 0px, 0px 0px;
      background-size: cover, auto;
      background-repeat: no-repeat, repeat;
      // background-attachment: fixed, scroll;
        .device {
          background: white;
          border-radius: 50px;
          width: 18em;
          height: 30em;
          margin: 5em auto;
          img {
            width: 90%;
            height: 30em;
            padding: 15% 0;
          }
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  .highlights-second {
    .main-container {
      .card-reverse {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: reverse;
              -ms-flex-direction: row-reverse;
                  flex-direction: row-reverse;
        }
      .card {
        height: 25em;
        .feature {
          -webkit-box-flex: 1;
              -ms-flex: 1 50%;
                  flex: 1 50%;
          h2 {}
          p {}
        }
        .image {
          -webkit-box-flex: 1;
              -ms-flex: 1 50%;
                  flex: 1 50%;
          height: auto;
          .device {
            width: 18em;
            height: 25em;
            margin: 5em auto;
            img {}
          }
        }
      }
    }
  }
}

@media all and (max-width: 568px) {
  .highlights-second {
    .main-container {
      .card {
        .image {
          height: 20em;
          .device {
            width: 15em;
            height: 25em;
            margin: 5em auto;
            img {
              height: 22em;
            }
          }
        }
      }
    }
  }
}
