body {
  margin: 0;
  padding: 0;
  position: relative;
  &::before {
    background: url("img/Background1.png") no-repeat center center;
    background-size: cover;
    content: ' ';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
}

.bold {
  font-weight: 800;
}

.semi-bold {
  font-weight: 600;
}

.main {
}

.main-container {
  padding: 0 8.33333%;
}
