.press {
  .main-container {
    background: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 2em;
    padding-bottom: 2em;
    margin: auto;
    img {
        padding: 1em;
    }
  }
}
