.testimonials {
  background: -webkit-linear-gradient(0deg, #ffffff, #f8f9fa);
  .main-container {
    border-bottom: 1px solid #E7E8EA;
    .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      padding: 10% 0;
      .preface {
        -webkit-box-flex: 1;
            -ms-flex: 1 100%;
                flex: 1 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        .title {
          .stars {
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            i {
              margin-right: -.3em;
              background: -webkit-linear-gradient(135deg, #FD9667, #FEDD54);
              background-size: 100% 5em;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }

            i:nth-of-type(1) {
              background-position: 0 1em;
            }
            i:nth-of-type(2) {
              background-position: 0 2em;
            }
            i:nth-of-type(3) {
              background-position: 0 3em;
            }
            i:nth-of-type(4) {
              background-position: 0 4em;
            }
            i:nth-of-type(5) {
              background-position: 0 5em;
            }
          }
        }
        .links {
          h4 {
            color: grey;
            font-weight: 600;
            font-size: .8em;
          }
          a {
            display: block;
            text-decoration: none;
            color: black;
            font-weight: 800;
            font-size: .8em;
            padding: .3em;
            i {
              color: grey;
              padding-right: .4em;
            }
          }
        }
      }
      .examples {
        -webkit-box-flex: 1;
            -ms-flex: 1 100%;
                flex: 1 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        .card {
          background: #ffffff;
          padding: 0 4%;
          margin-bottom: 1em;
          border-radius: 5px;
          width: 85%;
          -webkit-box-shadow: 0 12px 6px -6px #EAEBED;
                  box-shadow: 0 12px 6px -6px #EAEBED;
          .content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-flow: row nowrap;
                    flex-flow: row nowrap;
            width: 100%;
            padding: 4% 0;
            img {
              width: 10%;
              border-radius: 50%;
              -ms-flex-item-align: start;
                  align-self: flex-start;
            }
            p {
              font-style: italic;
              font-size: .7em;
              width: 80%;
              margin: 0 auto;
            }
          }
          footer {
            color: grey;
            font-size: .5em;
            border-top: 1px solid #E8E9EB;
            padding: 2% 0 4%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-flow: row nowrap;
                    flex-flow: row nowrap;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            .twitter-link {
              a {
                color: #D3D5D9;
              }
            }
          }
        }
        .card-right {
            -ms-flex-item-align: end;
                align-self: flex-end;
          .content {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: reverse;
                -ms-flex-direction: row-reverse;
                    flex-direction: row-reverse;
            text-align: right;
          }
          footer {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: reverse;
                -ms-flex-direction: row-reverse;
                    flex-direction: row-reverse;
          }
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  .testimonials {
    .main-container {
      .container {
        .preface {
          -webkit-box-flex: 1;
              -ms-flex: 1 40%;
                  flex: 1 40%;
        }
        .examples {
          -webkit-box-flex: 1;
              -ms-flex: 1 50%;
                  flex: 1 50%;
          padding-left: 8%;
        }
      }
    }
  }
}
