.video-tour {
  background: -webkit-gradient(linear, left top, right top, from(rgba(121,92,232,0.9)), to(rgba(58,186,245,0.9))), url("img/VideoPictureBackground.png") 50% 0px / cover no-repeat fixed, 0px 0px / auto repeat scroll;
  background: -webkit-linear-gradient(left, rgba(121,92,232,0.9), rgba(58,186,245,0.9)), url("img/VideoPictureBackground.png") 50% 0px / cover no-repeat fixed, 0px 0px / auto repeat scroll;
  background: -o-linear-gradient(left, rgba(121,92,232,0.9), rgba(58,186,245,0.9)), url("img/VideoPictureBackground.png") 50% 0px / cover no-repeat fixed, 0px 0px / auto repeat scroll;
  background: linear-gradient(90deg, rgba(121,92,232,0.9), rgba(58,186,245,0.9)), url("img/VideoPictureBackground.png") 50% 0px / cover no-repeat fixed, 0px 0px / auto repeat scroll;
  .main-container {
    .container {
      text-align: center;
      width: 100%;
      margin: auto;
      padding: 5% 0 25%;
      color: #ffffff;
      .play-button {
      padding-top: 3.5em;
        a {
          background: #fff;
          padding: 1em 1.2em;
          border-radius: 50%;
          text-decoration: none ;
          color: #fff ;
          position: relative ;
          i {
            background: -webkit-linear-gradient(135deg, #FD9667, #FEDD54);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-left: .2em;
          }
          &:after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0 ;
            left: 0 ;
            right: 0 ;
            border-radius: 50%;
            border: .5em solid #fff ;
            -webkit-animation: wave1 2s infinite;
                    animation: wave1 2s infinite;
            -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
          }
          &:before{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0 ;
            left: 0 ;
            right: 0 ;
            border-radius: 50%;
            border: .5em solid #fff;
            -webkit-animation: wave2 2s infinite;
                    animation: wave2 2s infinite;
            -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
          }
        }
      }
    }

    @-webkit-keyframes wave1 {
      0% {
        top: 0;
        bottom: 0 ;
        left: 0 ;
        right: 0 ;
        opacity: 1;
      }
      49% {
        top: -3em;
        bottom: -3em ;
        left: -3em ;
        right: -3em ;
        opacity: 0;
      }
      49.00001% {
        top: 0;
        bottom: 0 ;
        left: 0 ;
        right: 0 ;
      }
      100% {
        top: 0;
        bottom: 0 ;
        left: 0 ;
        right: 0 ;
      }
}

    @keyframes wave1 {
      0% {
        top: 0;
        bottom: 0 ;
        left: 0 ;
        right: 0 ;
        opacity: 1;
      }
      49% {
        top: -3em;
        bottom: -3em ;
        left: -3em ;
        right: -3em ;
        opacity: 0;
      }
      49.00001% {
        top: 0;
        bottom: 0 ;
        left: 0 ;
        right: 0 ;
      }
      100% {
        top: 0;
        bottom: 0 ;
        left: 0 ;
        right: 0 ;
      }
}

    @-webkit-keyframes wave2 {
      15% {
        top: 0;
        bottom: 0 ;
        left: 0 ;
        right: 0 ;
        opacity: 1;
      }
      64% {
        top: -3em;
        bottom: -3em ;
        left: -3em ;
        right: -3em ;
        opacity: 0;
      }
      64.00001% {
        top: 0;
        bottom: 0 ;
        left: 0 ;
        right: 0 ;
      }
      100% {
        top: 0;
        bottom: 0 ;
        left: 0 ;
        right: 0 ;
      }
    }

    @keyframes wave2 {
      15% {
        top: 0;
        bottom: 0 ;
        left: 0 ;
        right: 0 ;
        opacity: 1;
      }
      64% {
        top: -3em;
        bottom: -3em ;
        left: -3em ;
        right: -3em ;
        opacity: 0;
      }
      64.00001% {
        top: 0;
        bottom: 0 ;
        left: 0 ;
        right: 0 ;
      }
      100% {
        top: 0;
        bottom: 0 ;
        left: 0 ;
        right: 0 ;
      }
    }
  }
}

@media all and (min-width: 768px) {
  .video-tour {
    .main-container {
      .container {
        width: 60%;
        padding: 5% 0 15%;
      }
    }
  }
}
